---
layout: default
---

<div class="page-wrapper padding-m-h margin-m-b">

  <a href="{{ site.baseurl }}/" class="subtle-icon">
    <h1 class="title margin-0">{{ site.title }}</h1>
    <p class="subtitle fw-600">{{ site.description }}</p>
  </a>

</div>

<div id="project-view" class="container margin-m-v t-slow">

  {% assign project_count = 1 %}
  {% for project_title in site.data.projects %}
    {% for project in site.projects %}
      {% if project_title == project.title %}
        {% include project.html project=project index=project_count %}
        {% assign project_count = project_count | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>

<div id="project-links" class="page-wrapper padding-m-h margin-m-t font-0">

  {% for project_title in site.data.projects %}
    {% for project in site.projects %}
      {% if project_title == project.title %}
        <a href="#{{ project.slug }}" class="subtle-icon inline-col-1 container hover" data-script="project-button">
          <div class="square">
            <img class="img-cover hover-blur" src="{{ site.baseurl }}/{{ site.prose.media }}/{{ project.image }}" alt="{{ project.title }}">
            <div class="overlay flex-col padding-xs text-center hover-fade-in">
              <span class="margin-auto">
                {{ project.title }}
              </span>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>
