---
layout: default
---

{% assign projects_list = site.projects | sort: "date" | reverse %}

<div id="project-view">

    {% for project in projects_list %}

        {% include project.html project=project %}

    {% endfor %}

</div>

<div id="project-links">

    {% for project in projects_list %}

    <a href="#{{ project.slug }}" class="bg-img project-button" style="background-image: url({{ site.baseurl }}/media/project-images/{{ project.image }});">{{ project.title }}</a>

    {% endfor %}

</div>
