<div id="footer" class="footer dark border-basic-t border-x-light">

  <div class="page-wrapper padding-m text-center">

    <div class="margin-s-b media-icon-basic media-icon-list">
      {% include all-media-icons.liquid icon_set=site.data.contact %}
    </div>

    <div class="small table margin-auto-h">
      <div class="cell padding-xs-h border-basic-r">
        Copyright &copy; {{ 'now' | date: '%Y' }} Robert Don
      </div>
      <div class="cell padding-xs-h">
        Site design by <a href="https://github.com/dawaltconley" class="subtle-link" target="_blank"><i class="fa fa-github fa-fw fa-lg">&nbsp;</i>Dylan Awalt-Conley</a>
      </div>
    </div>

  </div

</div>
