<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![end if]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
    {% assign title = page.title | escape %}
  {% else %}
    {% assign title = site.title | escape %}
  {% endif %}

  {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign description = site.description %}
  {% endif %}

  {% assign page_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
  {% assign site_url = site.url | append: site.baseurl %}
  {% assign latest_project = site.projects | sort: 'date' | last %}
  {% capture og_image %}/{{ site.prose.media }}/{% include file-suffix.liquid file_name=latest_project.image suffix='-og' %}{% endcapture %}

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ og_image | prepend: site_url | strip_newlines }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">
  {% if fb_page_id %}<meta property="fb:app_id" content"{{ fb_page_id }}">{% endif %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,400,400i,700,700i|Oswald">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page_url }}">

  {% include favicon.html %}

  <script src="{{ site.baseurl }}/js/picturefill.min.js" async></script>
  <script defer data-domain="robertgdon.com" src="https://plausible.io/js/script.js"></script>
</head>
