{% assign title = include.project.title %}
{% assign link = include.project.link %}
{% assign type = include.project.media %}
{% assign columns = true %}
{% if type == 'youtube' or type == 'vimeo' %}
  {% assign columns = false %}
{% endif %}
{% assign description = include.project.content %}
{% capture image %}{{ site.baseurl }}/{{ site.prose.media }}/{{ include.project.image }}{% endcapture %}
{% assign bg_img = include.project.slug | append: '-img' %}

<div id="{{ include.project.slug }}" class="full-width target-display t-project {{ bg_img }}" data-script="project" data-index="{{ include.index }}">

  <div class="page-wrapper padding-l-v padding-m-h">

    {% if columns %}
      <div class="laptop-columns">
        <div class="cell v-center">
    {% endif %}

          {% case type %}
          {% when 'bandcamp' %}
            <div class="square margin-m-b">
              {% assign link_array = link | split: '/' %}
              <iframe class="full-width" src="https://bandcamp.com/EmbeddedPlayer/{{ link_array[3] }}={{ include.project.tralbum_id }}/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless>
                <a href="{{ link }}">{{ title }}</a>
              </iframe>
            </div>
          {% when 'soundcloud' %}
            <div class="square margin-m-b">
              <iframe class="full-width" src="https://w.soundcloud.com/player/?url={{ link }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" seamless></iframe>
            </div>
          {% when 'youtube' %}
            {% assign link = link | replace: '/watch?v=', '/embed/' %}
            <div class="aspect-16-9 margin-m-b">
              <iframe class="full-width" src="{{ link }}" allowfullscreen seamless></iframe>
            </div>
          {% when 'vimeo' %}
            {% assign link = link | remove: 'https://vimeo.com/' %}
            <div class="aspect-16-9 margin-m-b">
              <iframe class="full-width" src="https://player.vimeo.com/video/{{ link }}?title=0&byline=0&portrait=0" allowfullscreen seamless></iframe>
            </div>
          {% when 'page' %}
            <a class="block relative overflow-h margin-m-b hover" href="{{ link }}" target="_blank">
              <img class="hover-blur" src="{{ image }}" alt="{{ title }}">
              <div class="overlay fill-parent flex-col padding-m text-center hover-fade-in">
                <span class="margin-auto">
                  Visit Site
                </span>
              </div>
            </a>
          {% endcase %}

    {% if columns %}
        </div>
        <div class="cell">
    {% endif %}

          <h2>{{ title }}</h2>

          {{ description | markdownify }}

    {% if columns %}
        </div>
      </div>
    {% endif %}

  </div>

</div>
