#project-view {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.project {
    display: inline-block;
    position: relative;
    height: 0;
    width: 0;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    white-space: normal;
    font-size: $base-font-size;
    overflow: hidden;

    transition: width 0.75s ease-out 0.25s, height 0s 1s; //old project: start collapsing once new project is at full height, don't collapse height until fully offscreen and invisible

    &::after {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        box-shadow: 0 -100px 50px -50px $background-color inset, -200px 0 100px -100px $background-color inset;

        transition: box-shadow 0.75s ease-out 0.2s; //start slightly before new project slides in, expand quickly over old project as it collapses
    }

    &:target {
        height: $project-height;
        width: $content-width;

        transition: height 0.25s ease-out, width 0.75s ease-out 0.25s; //new project: expand height immediately (so that first click slides the buttons down), then expand width

        &::after {
            box-shadow: 0 -100px 50px -50px $background-color inset, 0 0 100px -100px $background-color inset;

            transition: box-shadow 0.8s ease-in 0.25s; //start fading once box starts expanding, end slightly after reaches full width
        }
    }
}

//needed for overlap effect
.project-content {
    width: $content-width;
    max-width: calc(100vw - #{$spacing-unit});
}

.hidden {
    display: none;
}

.preview-image {
    float: left;
    width: 60%;
    height: auto;
    padding-right: $spacing-unit;

    @media screen and (max-width: $on-palm) {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-bottom: $spacing-unit;
    }
}

#project-links {
    text-align: center;
    font-size: 0;
}

.project-button {
    display: inline-block;
    margin: $button-margin;
    width:  nth($button-size, 1);
    height: nth($button-size, 2);
}
