#all-projects {
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
    border-top: $grey-color-dark solid 1px;
}

.project {
    padding-bottom: $spacing-unit;
}

.preview-image {
    float: left;
    width: 60%;
    height: auto;
    padding-right: $spacing-unit;

    @media screen and (max-width: $on-palm) {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-bottom: $spacing-unit;
    }
}

#projects-list {
    text-align: center;
    font-size: 0;
}

.project-button {
    display: inline-block;
    margin: $button-margin;
    width:  nth($button-size, 1);
    height: nth($button-size, 2);
}
