#projects-list {
    text-align: center;
    font-size: 0;
}

.project-button {
    display: inline-block;
    margin: $button-margin;
    width:  nth($button-size, 1);
    height: nth($button-size, 2);
    object-fit: cover;
}
