/*
 * Generated
 */

@each $name, $size in $sizes {
    $width: null;
    $height: null;

    @if length($size) == 1 {
        $width: $size;
        $height: $size;
    } @else if length($size) == 2 {
        $width: nth($size, 1);
        $height: nth($size, 2);
    } @else {
        @error "Wrong number of values in #{$name} size.";
    }

    .#{$name} {
        &-size, &-width {
            width: $width;
        }
        &-size, &-height {
            height: $height;
        }
        &-size-min, &-width-min {
            min-width: $width;
        }
        &-size-min, &-height-min {
            min-height: $height;
        }
        &-size-max, &-width-max {
            max-width: $width;
        }
        &-size-max, &-height-max {
            max-height: $height;
        }
    }
}

@each $name, $size in $margins {
    @include all-sides("margin-" + $name) {
        margin-#{$side}: $size;
    }
}

@each $name, $size in $paddings {
    @include all-sides("padding-" + $name) {
        padding-#{$side}: $size;
    }
}

@each $name, $styles in $borders {
    @include all-sides("border-" + $name) {
        border-#{$side}-width: map-get($styles, width);
        border-#{$side}-style: map-get($styles, style);
        border-#{$side}-color: map-get($styles, color);
    }
}

@each $name, $styles in $themes {
    .#{$name} {
        @include theme-styles($styles);
    }
}

/*
 * Basic
 */

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

@for $i from 0 through 9 {
    .z-#{$i} {
        @extend .relative;
        z-index: $i;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.v-rhythm > * {
    @extend %vertical-rhythm;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    border-spacing: 0;
}

/*
 * Wrappers
 */

.page-wrapper {
    @include wrapper(map-values($bp));
    min-width: 50%;
}

.text-wrapper {
    @each $length in $base-line-length {
        max-width: $length;
    }
}

.unwrap {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.stretch {
    @extend .unwrap;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

/*
 * Containers
 */

.overflow-v {
    overflow: visible;
}

.overflow-h {
    overflow: hidden;
}

.fill-parent {
    @extend .full-size !optional;
    position: absolute;
    top: 0; left: 0;
}

.expand-children {
    position: relative;

    & > * {
        @extend .fill-parent;
    }
}

%fixed-ratio { // extended by the fixed-ratio mixin
    @extend .expand-children;
    height: 0;
}

.square {
    @include fixed-ratio(1, 1);
}

.aspect-16-9 {
    @include fixed-ratio(16, 9);
}

.contains-3d {
    -webkit-perspective: $perspective;
    perspective: $perspective;

    &-deep * {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

/*
 * Tables
 */

.table {
    display: table;
}

.table-fixed {
    @extend .table;
    table-layout: fixed;
}

.column {
    display: column;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.v-center {
    vertical-align: middle;
}

%columns {
    display: table;
    width: calc(100% + (#{$spacing-unit} * 2));
    margin: -$spacing-unit;
    border-spacing: $spacing-unit;
    table-layout: fixed;

    &:last-child > :last-child {
        margin-bottom: 0;
    }
}

@each $name, $breakpoint in $bp {
    .#{$name}-columns {
        @extend %columns;
        @include columns-reset($breakpoint);
    }
}

/*
 * Inline Layouts
 */

.font-0 {
    font-size: 0;

    > * {
        font-size: $base-font-size;
    }
}

.inline-row {
    white-space: nowrap;

    > * {
        display: inline-block;
        white-space: normal;
    }
}

.inline-col-1 {
    @media screen and (min-width: map-get($bp, large)) {
        @include inline-columns(5, 10px);
    }

    @media screen and (max-width: map-get($bp, large)) and (min-width: $bp-laptop) {
        @include inline-columns(4, 10px);
    }

    @media screen and (max-width: $bp-laptop) and (min-width: 460px) {
        @include inline-columns(3, 10px);
    }

    @media screen and (max-width: 460px) {
        @include inline-columns(2, 10px);
    }
}

/*
 * Flexbox
 */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-center {
    @extend .flex-justify-center, .flex-align-center;
}

.flex-align-bottom {
    align-items: flex-end;
}

.fill-flex-parent {
    flex: 1 1 auto;
}

.flex-even > * {
    flex: 1 1 0%;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

/*
 * Media Queries
 */

.footer {
    @media screen and (max-width: $bp-laptop) {
        .table {
            display: block;
        }

        .cell {
            display: block;
            padding: 0;
            border: 0;
        }
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 1.2em;
    }
}
